.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
  width: 100%;


  & > li:nth-child(n+3):nth-last-child(n+3) .pagination__link {

    border-radius: 5px;
    color: $color-blue;
    border: 2px solid $color-blue;
    font-family: $medium;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;

    &:hover {
      text-decoration: none;
      color: $color-white;
      background: $color-blue;
    }
  }

  &__link {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
  }


}
