body {
  font-family: "Rubik", sans-serif;
  color: $color-black;
}


.page {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-wrap {

  & > .page:nth-child(even) {
    background-color: #F9F9FF;
  }

}

.title-h2 {
  font-size: 32px;
  color: $color-black;
  margin-bottom: 0;

  &--mb {
    margin-bottom: 15px;
  }
}


.main-title {
  margin-bottom: 75px;
}

.main__title {
  font-size: 18px;
  text-align: center;
  color: #222;
}