.skill {
  //background-color: #777;
}

.skill-block {

  box-shadow: 0 8px 30px 0 rgba(153, 153, 153,  10%);
  padding: 50px 35px;

  & h3 {
    color: #222;
    font-size: 21px;
    text-transform: uppercase;
  }
}