$siteUrl : '/assets';
//$siteUrl : '/port/assets';

/*Color*/

$color-black : #222;
$color-main: #027D00;
$color-white: #fff;
$on-primary: black;

$main-color: #ff9694;
$main-color2: #400A25;
$color-text: #c3a9b6;

/*FONT*/

//$fonts-default: Ariel, Helvetica, sans-serif;
//$fonts-default: "Trebuchet MS", Helvetica, sans-serif;
$fonts-default: "Times", Helvetica, sans-serif;

$font-bold:  $fonts-default;
$font-regular:  $fonts-default;
$font-italic:  $fonts-default;
$font-medium:  $fonts-default;
$font-semiBold: $fonts-default;






