/* side menu */
.wui-side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    backface-visibility: hidden;
    z-index: 3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: webkit-transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out;
}

.wui-side-menu.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.wui-side-menu.open ~ .content .side-menu-trigger {
    display: none;
}

.wui-side-menu.open {
    box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
}

.wui-side-menu .header,
.wui-content-header {
    vertical-align: baseline;
    line-height: 50px;
}

.wui-side-menu-pin-trigger,
.wui-side-menu-trigger {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
}

.wui-side-menu .wui-side-menu-pin-trigger {
    display: none;
    float: right;
}

.wui-side-menu .wui-side-menu-pin-trigger i {
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
}

.wui-side-menu .wui-side-menu-items {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.wui-side-menu .wui-side-menu-item {
    display: block;
    width: 100%;
    padding: 15px 12px;
    border-left: 5px solid transparent;
}

.wui-side-menu .wui-side-menu-item {
    height: 50px
}

.wui-side-menu .wui-side-menu-item i.box-ico {
    margin-right: 4px;
}

/* overlay */
.wui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    display: none;
}

.wui-side-menu.open ~ .wui-overlay, .wui-overlay.active {
    display: block;
}

/* content */
.wui-content {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
    padding: 0 10px;
}

.wui-content .wui-side-menu-trigger {
    margin-left: -10px;
}

@media only screen and (min-width: 768px) {
    .wui-side-menu .wui-side-menu-pin-trigger {
        display: inline-block;
    }

    .wui-side-menu.open {
        box-shadow: initial;
    }

    .wui-side-menu.open ~ .wui-overlay {
        display: none;
    }

    .wui-side-menu.open ~ .wui-content .wui-side-menu-trigger {
        display: none;
    }

    .wui-side-menu.open:not(.pinned) ~ .wui-overlay {
        display: block;
    }

    .wui-side-menu.open:not(.pinned) {
        box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
    }

    .wui-side-menu.open.pinned ~ .wui-content {
        left: 220px;
    }
}

ul.wui-side-menu-items {
    list-style: none;
    padding: 0
}

.wui-side-menu {
    background-color: #292e34;
    color: #ddd;
}

.wui-side-menu .wui-side-menu-trigger:hover,
.wui-side-menu-item:hover,
.wui-side-menu-pin-trigger:hover {
    color: #fff;
    background-color: #383f45;
}

.wui-side-menu a {
    color: #ccc;
    text-decoration: none
}

.wui-side-menu .wui-side-menu-item.active {
    border-left-color: #158439;
    color: #158439
}

.wui-content a {
    color: #000;
}

/*////////*/

.page {
    padding: 20px;
}

.page-header {
    border: 2px solid #43b9da;
    padding: 10px;
    margin-bottom: 40px;
}

.page-main.overflow {
    width: 100%;
    overflow-x: auto;
}


/*form*/

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.form-item {
    width: 100%;
    margin-bottom: 18px;
}

.form-item__title {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;


}

.form-item__input, .form-item__text {
    width: 100%;
    display: block;
    padding: 8px;
    background: transparent;
    vertical-align: middle;
    max-width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

.form-item__text {
    height: 200px;
}

.form-item__input:focus, .form-item__text:focus {
    outline: none;
    border: 1px solid #1E6BD6;
}


.form-item__submit {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    margin: 4px 0;
    padding: 4px 16px;
    border: 1px solid #1E6BD6;
    border-radius: 18px;
    background: #1E6BD6;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.btn-add {
    color: #fff !important;
}

.file-input {
    font-family: sans-serif;
    display: inline-block;
    text-align: left;
    padding: 8px 0;
    position: relative;
    width: 100%;
}

.file-input > [type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #ccc;
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
    font-size: 14px;
}

.file-input:hover > .button {
    background: #263238;
    color: #fff;
}

.file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .7;
    font-size: 13px;
}

#preview {
    max-width: 180px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.img-table {
    max-width: 50px;
}

.login-form {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .login-form {
        width: 100%;
    }
}

.container--login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-editable {
    min-height: 200px;
}

.note-editable p {
    margin-bottom: 0 !important;
}

.edit-icon {
    font-size: 24px;
    margin-right: 14px;
}

.edit-icon i {
    color: #008000;
}

.edit-icon:hover {
    text-decoration: none;
}

.delete-icon {
    font-size: 24px;
}

.delete-icon i {
    color: #FF0000;
}

.delete-icon:hover {
    text-decoration: none;
}

.status-icon {
    font-size: 24px;
}

.status-icon.fa-toggle-on {
    color: green;
}

.status-icon.fa-toggle-off {
    color: grey;
}

tbody > .odd {
    background-color: rgba(0, 0, 0, .00);
}

.error-msg {
    border: 1px solid red;
    margin-bottom: 16px;
    border-radius: 6px;
}


.error-msg__lead {
    color: red;
    font-size: 18px;
    margin-bottom: 0;
    padding: 4px;
}

.avatar-img {
    width: 50px;
    height: 50px;
}

.img-gw {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
}

.border-bt {
    border-bottom: 1px solid grey;
     padding-top: 10px;
    padding-bottom: 10px;
}


.blog-add {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;

}

.blog-add__wrap {
    margin-bottom: 24px;
}

.blog-add__title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.blog-add__input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    height: 36px;
    padding-left: 10px;
}

.blog-add__text {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    height: 100px;
    padding: 10px;
}

.blog-add__select {
    width: 100%;
    height: 36px;
    padding-left: 10px;
}

.blog-add__textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    height: 100px;
    padding: 10px;
}

.btn-submit2 {
    background-color: #000;
    text-decoration: none;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    transition: all 0.5s ease;
    margin-top: 20px;


}

.btn-submit2:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}

.add-form__img {
    margin-bottom: 32px;
}

.btn-submit {
    background-color: #027d00;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 35px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: #fff;
}

.btn-submit i {
    margin-right: 10px;
}

.add-form__img-result {
    text-align: center;
}

.add-form__img-result img{
    max-width: 100%;
    height: auto;
    max-height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
}

.status-icon  {
    font-size: 24px;
}

.status-icon.fa-toggle-on {
    color: green;
}

.status-icon.fa-toggle-off {
    color: grey;
}

.blog_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#cke_1_contents {
    min-height: 500px;
}


.add-form__img-result {
    text-align: center;
}

.add-form__img-result img{
    max-width: 100%;
    height: auto;
    max-height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
}